# Tourist DataSet

In [6]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
df = pd.read_csv("D:\Downloads\Tourism.csv")

In [11]:
df.head()

,Route_ID,User_ID,Sequence,Total_Duration,Total_Cost,Weather,Traffic_Level,Crowd_Density,Event_Impact,Optimal_Route_Preference,Satisfaction_Score,Age,Gender,Nationality,Travel_Companions,Budget_Category,Preferred_Theme,Preferred_Transport
0,1,23,42->32->48->20->29->9,466,1541,Sunny,Medium,Low,Festival,9->20->29->32->42->48,2,61,Other,USA,Family,Low,Relaxation,Taxi
1,2,124,7->44->43->50->30,151,3817,Rainy,High,High,Festival,7->30->43->44->50,4,18,Male,India,Group,High,Shopping,Bus
2,3,135,27->3->32->28->2->36->31,559,8087,Rainy,Low,High,NaN,2->3->27->28->31->32->36,4,68,Male,USA,Group,Medium,Shopping,Walk
3,4,86,38->2->20->19->40->39->29,159,2218,Snowy,Medium,High,Festival,2->19->20->29->38->39->40,4,38,Female,USA,Friends,Low,Adventure,Car
4,5,137,27->24->3,466,1388,Snowy,Low,Medium,Holiday,3->24->27,2,35,Female,China,Solo,High,Cultural,Car

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1345 entries, 0 to 1344
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Route_ID                  1345 non-null   int64
 1   User_ID                   1345 non-null   int64
 2   Sequence                  1345 non-null   object
 3   Total_Duration            1345 non-null   int64
 4   Total_Cost                1345 non-null   int64
 5   Weather                   1345 non-null   object
 6   Traffic_Level             1345 non-null   object
 7   Crowd_Density             1345 non-null   object
 8   Event_Impact              885 non-null    object
 9   Optimal_Route_Preference  1345 non-null   object
 10  Satisfaction_Score        1345 non-null   int64
 11  Age                       1345 non-null   int64
 12  Gender                    1345 non-null   object
 13  Nationality               1345 non-null   object
 14  Travel_Companions         1345 non-null   object
 15  Budget_Category           1345 non-null   object
 16  Preferred_Theme           1345 non-null   object
 17  Preferred_Transport       1345 non-null   object
dtypes: int64(6), object(12)
memory usage: 189.3+ KB

In [15]:
df.shape

(1345, 18)

In [16]:
df.size

24210

In [17]:
df.tail()

,Route_ID,User_ID,Sequence,Total_Duration,Total_Cost,Weather,Traffic_Level,Crowd_Density,Event_Impact,Optimal_Route_Preference,Satisfaction_Score,Age,Gender,Nationality,Travel_Companions,Budget_Category,Preferred_Theme,Preferred_Transport
1340,1341,175,22->17->2->34->39->45->19,505,5698,Snowy,High,Medium,Festival,2->17->19->22->34->39->45,2,46,Female,UK,Family,High,Cultural,Train
1341,1342,9,27->14->41->30->36->22,286,4561,Cloudy,Low,High,NaN,14->22->27->30->36->41,1,53,Female,Japan,Family,High,Shopping,Car
1342,1343,190,31->9->49->17->19,447,8910,Sunny,Medium,High,Holiday,9->17->19->31->49,5,35,Other,Germany,Group,High,Nature,Bus
1343,1344,81,10->18->2->32->20,363,3330,Cloudy,Medium,Low,Festival,2->10->18->20->32,5,64,Female,France,Group,High,Adventure,Train
1344,1345,2,28->8->43->15,562,3868,Rainy,Medium,Medium,Festival,8->15->28->43,3,38,Male,USA,Friends,High,Relaxation,Bike

In [18]:
df = df.dropna()

In [20]:
df.head()

,Route_ID,User_ID,Sequence,Total_Duration,Total_Cost,Weather,Traffic_Level,Crowd_Density,Event_Impact,Optimal_Route_Preference,Satisfaction_Score,Age,Gender,Nationality,Travel_Companions,Budget_Category,Preferred_Theme,Preferred_Transport
0,1,23,42->32->48->20->29->9,466,1541,Sunny,Medium,Low,Festival,9->20->29->32->42->48,2,61,Other,USA,Family,Low,Relaxation,Taxi
1,2,124,7->44->43->50->30,151,3817,Rainy,High,High,Festival,7->30->43->44->50,4,18,Male,India,Group,High,Shopping,Bus
3,4,86,38->2->20->19->40->39->29,159,2218,Snowy,Medium,High,Festival,2->19->20->29->38->39->40,4,38,Female,USA,Friends,Low,Adventure,Car
4,5,137,27->24->3,466,1388,Snowy,Low,Medium,Holiday,3->24->27,2,35,Female,China,Solo,High,Cultural,Car
5,6,153,29->23->40->16->49->37->14,556,5212,Sunny,Low,High,Festival,14->16->23->29->37->40->49,2,20,Female,USA,Group,Low,Shopping,Walk

In [23]:
print("Remove row with missing values so remaning data :",df.shape)

Remove row with missing values so remaning data : (885, 18)

In [32]:
df = df.drop('Route_ID', axis=1)

In [33]:
df.shape

(885, 17)

In [24]:
df.isnull().sum()

Route_ID                    0
User_ID                     0
Sequence                    0
Total_Duration              0
Total_Cost                  0
Weather                     0
Traffic_Level               0
Crowd_Density               0
Event_Impact                0
Optimal_Route_Preference    0
Satisfaction_Score          0
Age                         0
Gender                      0
Nationality                 0
Travel_Companions           0
Budget_Category             0
Preferred_Theme             0
Preferred_Transport         0
dtype: int64

In [25]:
df = df.drop_duplicates()

## Cleaning a data

In [28]:
df.to_csv("cleaned_dataset.csv", index=False)